head
	title Revolt
	// Fonts CSS etc
	link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
	img#profile(src="static/images/portrait.jpg" alt="Profile")
	div.normal
		h1 Astroweb
	nav
		div.normal.flex-container
			div.navlink
				a(href='/about') About
			div.navlink
				a(href='/projects') Projects
			div.navlink
				a(href='/contact') Contact
