head
	title Astroweb
	link(rel="shortcut icon" type="image/png" href="/static/images/favicon.png")
	// Fonts CSS etc
	link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
	img#profile(src="static/images/portrait.jpg" alt="Profile")
	div.normal
		h1 Astroweb
	nav
		div.normal.flex-container
			div.navlink
				a(href='/about') About
			div.navlink
				a(href='/projects') Projects
			div.navlink
				a(href='/contact') Contact
