nav
	div.normal.flex-container.partial.top
		div.link
			a(href='/about') About
		div.link
			a(href='/projects') Projects
		div.link
			a(href='/contact') Contact
	div.normal.partial.bot
		if !currentUser
			div.link
				a#login(href = "/login") Login
			p to see your projects
		if currentUser
			p= "Logged in as " + user.name
			div.link
				a#logout(href = "/logout") Logout
