extends layout

block content
  div.normal.block
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum congue vehicula. Mauris aliquam facilisis risus, quis ultricies leo volutpat et. Nunc consectetur elit at pharetra pharetra. Nullam euismod, nunc vel mattis vestibulum, neque felis mattis lorem, eu semper odio tellus eu justo. Morbi sed scelerisque ipsum. Cras malesuada lobortis justo eget volutpat. Donec et leo ac risus mollis sollicitudin. Ut aliquam sapien id nisi blandit, eget volutpat turpis interdum.
