extends layout

block content
  div.normal.block
    h2 About
    p Astroweb is a freelance web design company based in Colombia. Services offered currently include dynamic web design, database interfacing and web hosting.
