extends layout

block content
  if isLoggedIn
    div.normal.block.projects
      if (!priProjects)
        h2 Your Projects
        p You don't have any projects to see here
      else
        if priProjects.length == 1
          h2 Your Project
        else 
          h2 Your Projects
        each proj in priProjects
          div.project
            a(href= proj.href)
              img.project(src= "static/images/" + proj.imgPath alt= proj.name)
            p= proj.description
  div.normal.block.projects
    if isLoggedIn
      h2 Public Projects
    else
      h2 Projects
    each proj in pubProjects
      div.project
        a(href= proj.href)
          img.project(src= "static/images/" + proj.imgPath alt= proj.name)
        p= proj.description
    
