extends layout

block content
  div.normal.block#login
    h2 Register
    form(method='POST' action='/register')
      div.form-group
        label(for='name') Name:
        input#name(type='text', placeholder='first and last' name='name')
      div.form-group
        label(for='email') Email:
        input#email(type='email', placeholder='name@email.com' name='email')
      div.form-group
        label(for='pw') Password:
        input#pw(type='password' name='password')
      div.form-group
        label(for='pw2') Confirm Password:
        input#pw2(type='password' name='confirmPassword')
      button.btn.btn-primary(type='submit') Sign up
