@media screen and (min-width: 480px) {
  div.project a {
    float: left;
  }
  div.project p {
    float: right;
    width: 55%;
  }
}

@media screen and (min-width: 660px) {
  div.bot {
    width: 400px;
    padding: 0 50px;
  }

}
