body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/static/images/space.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 100%;
}

img#profile {
  max-width: 100px;
  height: auto;
  border-radius: 100%;
}

div.normal {  /* Visible width = 500 + 2(2+1) = 506 */
  max-width: 500px;
  padding: 2px;
  margin: 10px auto;
  background-color: #8A8EBF;
  border: 1px solid black;
  border-radius: 20px;
  color: #070007;
}

div.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: nowrap;
}

div.normal.block {   /* Visible width = 460 + 2(22+1) = 506 */
  max-width: 460px;
  padding: 22px;
  text-align: justify;
  height: 100%;
}

div.navlink {
  height: 30px;
  line-height: 30px;
  border-collapse: collapse;
  padding: auto;
  margin: 0;
  flex: 1;
}

div.navlink:nth-child(2) {
  border-left: 1px solid #BEC0DC;
  border-right: 1px solid #BEC0DC;
}

h1 {
  font-size: 1.5em;
  margin: 0px;
}

P:first-child {
  margin-top: 0;
}

P:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/****************************
        PROJECTS
*****************************/

div.project {
  margin-bottom: 22px;
}

div.project:last-child {
  margin-bottom: 0px;
}

div.project img.project {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

div.project a {
  float: left;
  display: inline;
  width: 40%;
  margin: 0 2.5% 0 0;
}

div.project p {
  float: right;
  margin: 0 0 0 2.5%;
  width: 55%;
}

/****************************
          ERROR
*****************************/


div#error {
  overflow-x: auto;
}
