body {
  padding: 2px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/static/images/pat_Space.png");
  background-repeat: repeat;
  background-color: black;
  background-position: center;
  background-size: auto;
  text-align: center;
  font-family: 'Sarala', sans-serif;
  font-size: 90%;
}

img#profile {
  max-width: 100px;
  height: auto;
  border-radius: 100%;
}

div.normal {  /* Visible width = 500 + 2(2+1) = 506 */
  max-width: 500px;
  padding: 0px;
  margin: 10px auto;
  background-image: url("/static/images/pat_Moon.png");
  background-color: hsl(236, 28%, 70%);
  border: 1px solid black;
  border-radius: 10px;
  color: #070007;
}

div.normal.block {   /* Visible width = 460 + 2(22+1) = 506 */
  max-width: 460px;
  padding: 22px;
  text-align: left;
  height: 100%;
}

h1 {
  font-size: 1.5em;
  margin: 0px;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto 20px;
}

P:first-child {
  margin-top: 0;
}

P:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.left {
  float: left;
}
.right {
  float: right;
}

/********************************
            NAV
********************************/

div.partial {
  margin: 0px auto;
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
}

div.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2px inherit;
}

div.top.partial {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  height: 31px;
}

div.top .link {
  border-left: 1px solid hsl(236, 28%, 80%);
  border-right: 1px solid hsl(236, 28%, 80%);
  height: 30px;
  line-height: 30px;
  background: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

div.partial.top .link {
  border-bottom: 1px solid hsl(236, 28%, 80%);
}

div.link a {
  height: 20px;
  padding: 2px;
  margin: auto 0;
  border-radius: 5px;
}

div.top .link a:hover {
  background-color: hsl(236, 28%, 75%);
}

div.top .link:first-child {
  border-left-style: none;
}

div.top .link:last-child {
  border-right-style: none;
}

div.bot {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: hsl(236, 28%, 60%);
  border-top-style: none;
}

a#login {
  background-color: hsl(100, 70%, 40%);
}

a#login:hover {
  background-color: hsl(100, 70%, 60%);
}

a#logout {
  background-color: hsl(0, 70%, 40%);
}

a#logout:hover {
  background-color: hsl(0, 70%, 60%);
}


/****************************
        PROJECTS
*****************************/
div.project {
  margin-bottom: 22px;
  display: inline-block;
}

div.project:last-child {
  margin-bottom: 0px;
}

div.project img.project {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

div.project a {
  float: right;
  display: inline;
  width: 40%;
  margin: 0 2.5% 0 0;
}

div.project p {
  margin: 0 0 0 2.5%;
  width: 100%;
}

/****************************
          LOGIN
*****************************/
  #login {
    text-align: center;
  }
  form {
    max-width: 300px;
    margin: auto;
    padding: 0 5%;
  }
  div.form-group {
    height: 20px;
    margin: 0 0 5px 0;
    text-align: left;
  }
  label {
    height: 20px;
    line-height: 20px;
    width: 20%;
  }
  input {
    height: 16px;
    padding: 1px;
    margin: 1px 0;
    width: 50%;
    float: right;
  }
  form button {
    margin: 10px auto 0px;
  }
  input.err {
    border: 1px solid red;
  }




/****************************
          ERROR
*****************************/


div#error {
  overflow-x: auto;
}
